astroid==2.2.5
certifi==2019.6.16
chardet==3.0.4
colorlog==4.0.2
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.1
mccabe==0.6.1
pbr==5.2.1
pylint==2.3.1
pyttsx3==2.71
requests==2.22.0
schedule==0.6.0
six==1.12.0
stevedore==1.30.1
typed-ast==1.4.0
urllib3==1.25.3
virtualenv==16.6.0
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
wrapt==1.11.2
